body {
  font-family: futura, 'helvetica neue', 'sans-serif';
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;

  color: hsl(0, 0%, 30%);
  margin: 1em;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.book-page {
  background-color: hsl(35, 10%, 93%);
  width: 100%;
  max-width: 640px;
  box-shadow: 4px 4px hsla(30, 30%, 30%, 0.3);
  padding-left: 1.2em;
  padding-right: 1.2em;
  padding-top: 1.2em;
  padding-bottom: 1.2em;  
  margin-bottom: 2em;
}

.book-page input {
  border-radius: 1.0em;
  height: 2em;
  text-align: center;
  border-style: none;  
}

.root {
  padding-left: 0;
  width: 100%;
}

.level-table {
  text-shadow: hsla(0, 0%, 100%, 0.3) 1px 1px;
  font-size: 1.25em;
  margin-top: 0;
  margin-bottom: 0;
}

.row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;

  padding: 0.5em;
}

.row:nth-of-type(2n+1) {
  background-color: hsla(0, 0%, 80%, 0.5);
}

.name-column {
  -webkit-flex: 2 0 12em;
  -ms-flex: 2 0 12em;
  flex: 2 0 12em;
  min-width: 200px;
  -webkit-order: 3;
  -ms-flex-order: 3;
  order: 3;
}

.xp-high-end-column {
  -webkit-flex: 0 0 5.5em;
  -ms-flex: 0 0 5.5em;
  flex: 0 0 5.5em;
  -webkit-order: 6;
  -ms-flex-order: 6;
  order: 6;
  padding-left: 0.2em;
  text-align: left;
  font-size: smaller;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.notification {
  padding: 1em;
  border-radius: 0.5em;
  margin-bottom: 1.5em;
  max-width: 610px;
}

.credits {
  font-size: smaller;
  color: hsla(0, 0%, 100%, 0.9);
  margin-top: 2em;
  margin-bottom: 2em;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #333;
}

#result-page {
  background-color: #fff;
}

#result-page .level-table {
  background-color: #fff;
}

#result-page .label {
  font-size: larger;
}

#result-page .value {
  font-size: x-large;
}

#result-page #monthly-cost {
  background-color: yellow;
}

#result-page #total-loan-cost {
  background-color: white;
}

#entry-form li {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

#entry-form li input {
  -webkit-flex: 2 0 12em;
  -ms-flex: 2 0 12em;
  flex: 2 0 12em;
}

.hidden {
  opacity: 0;
  height: 0;
}

.fade {
  opacity: 0;
  transition: opacity 1s;
}

.revealed {
  height: inherit;
  opacity: 1;
  transition: opacity 0.3s, height 0.3s;
}

.report-results-container {
  background-color: white;
  align-items: center;
  flex-direction: column;  
}

.report-results-button {
  font-weight: normal;
  font-size: larger;
  color: hsl(0, 0%, 40%);
  border-bottom: 1px dotted hsl(0, 0%, 40%);
  cursor: pointer;
}

#copy-results-field {
  font-family: "Lucida Console", monospace, sans-serif;
}

@media all and (max-width: 586px) {
  body {
    margin: 0;
  }

  .book-page {
    padding-left: 2em;
    padding-top: 0;
  }
}

@media all and (max-width: 480px) {
  .level-table {
    text-shadow: hsla(0, 0%, 100%, 0.3) 1px 1px;
    font-size: 1em;
  }

  .book-page {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .name-column {
    padding-bottom: 0.5em;
  }

  .hidden {
    padding: 0;
  }
}
